/node_modules
/dist
/docs
/tests
/temp
/src/**/*.d.ts
/src/**/*.json
/stompjs/**/*.d.ts
/stompjs/**/*.json
/*/dist
/*.d.ts
/*.metadata.json

package-lock.json
tsdoc-metadata.json
*.log
*.bak
*.orig
*.map
*~